@font-face {
  font-family: 'Acrom';
  src: url('../fonts/Acrom-Bold.eot');
  src: local('Acrom Bold'), local('Acrom-Bold'),
  url('../fonts/Acrom-Bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Acrom-Bold.woff') format('woff'),
  url('../fonts/Acrom-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Acrom';
  src: url('../fonts/Acrom-Medium.eot');
  src: local('Acrom Medium'), local('Acrom-Medium'),
  url('../fonts/Acrom-Medium.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Acrom-Medium.woff') format('woff'),
  url('../fonts/Acrom-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
